colorlog
einops
h5py
hydra-core
imageio
matplotlib
meshio==5.3.4
numpy>=1.20.0,<2.0.0
pydantic>=2.5.0
pyevtk
pyyaml
requests
scikit-learn<1.5.0
scikit-optimize
scipy
seaborn
sympy
tqdm
typing-extensions
wget
