numpy>=1.20.0,<=1.23.1
sympy
matplotlib
vtk
pyevtk
wget
scipy
visualdl
pyvista==0.37.0
pyyaml
scikit-optimize
h5py
meshio==5.3.4
tqdm
imageio
typing-extensions
seaborn
colorlog
hydra-core
opencv-python
