:root {
  /* primary */
  --md-primary-fg-color: #6067e7;
  --md-primary-fg-color--light: #5d63db;
  --md-primary-fg-color--dark: #000;
}

.md-grid {
  /* readable page width */
  max-width: 1440px;
}
