Jinja2==3.0.3
matplotlib
mkdocs==1.4.2
mkdocs-autorefs
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-include-markdown-plugin
mkdocs-material
mkdocs-material
mkdocs-material-extensions
mkdocs-video
mkdocstrings
mkdocstrings-python
numpy<=1.23.1
pyyaml
scipy
sympy
